Create a dictionary named phone_book with at least five entries where the keys are names and the values are phone numbers.

In [53]:
phon_book={
    'anas':3409063523,
    'tuyyab':3463505881,
    'baba':3439560426,
    'hmza':3480100317,
    'lala':3439560426,

}
for name, num in phon_book.items():
    print(f"\n num of the {name} is: {num}!!! ")
    # print (f" num of anas is {phon_book['anas']}")  
    # print (f" num of tuyyab is {phon_book['tuyyab']}")  
    # print (f" num of baba is {phon_book['baba']}") 
    # print (f" num of hmza is {phon_book['hmza']}") 
    # print (f" num of lala is {phon_book['laa']}")

 num of the anas is: 3409063523!!!

 num of the tuyyab is: 3463505881!!!

 num of the baba is: 3439560426!!!

 num of the hmza is: 3480100317!!!

 num of the lala is: 3439560426!!!

Accessing Values:

Given the dictionary student_grades = {'Alice': 90, 'Bob': 85, 'Charlie': 78}, how would you access Bob's grade?
Accessing Values:

In [3]:
student_grades={'anas':90,'ali':80,'mosa':70,'baba':40}

print(student_grades['anas'])

90

In [ ]:
student_grades={'anas':90,'ali':80,'mosa':70,'baba':40}
grad['nome']=45

Updating Values:

Update Alice's grade in the student_grades dictionary to 95

In [18]:
student_grades={'anas':90,'ali':80,'mosa':70,'baba':40}
student_grades['anas']=95
del student_grades['anas']
for student, grade in student_grades.items():

    print(f" the apdat student_grades is: {student}  {grade}")

 the apdat student_grades is: ali  80
 the apdat student_grades is: mosa  70
 the apdat student_grades is: baba  40

In [ ]:
()

Adding Entries:

Add a new entry to the student_grades dictionary for a student named 'Diana' with a grade of 88.

In [23]:
tudent_grades={'anas':90,'ali':80,'mosa':70,'baba':40}
student_grades['danni']=78
student_grades['chacho']=100
print(student_grades)

{'ali': 80, 'mosa': 70, 'baba': 40, 'danni': 78, 'chacho': 100}

Iterating through a Dictionary:

Write a loop to print each student's name and grade from the student_grades dictionary

In [27]:
tudent_grades={'anas':90,'ali':80,'mosa':70,'baba':40}
for name, grade in student_grades.items():
    print(f"\n the grade of {name}: is {grade}")
    # print(grade)

 the grade of ali: is 80

 the grade of mosa: is 70

 the grade of baba: is 40

 the grade of danni: is 78

 the grade of chacho: is 100

Conditional Logic:

Modify the loop to print only the names of students who have grades above 80.

In [3]:
tudent_grades={'anas':90,'ali':80,'mosa':70,'baba':40,'azam':98,'eesa':91,'kame':98}
for student, grade in student_grades.items():
    if grade>80:
        print(f" {student}'s grade above 80: {grade}")

 anas's grade above 80: 90
 azam's grade above 80: 98
 eesa's grade above 80: 91
 kame's grade above 80: 98

In [1]:
student_grades = {'anas': 90, 'ali': 80, 'mosa': 70, 'baba': 40, 'azam': 98, 'eesa': 91, 'kame': 98}

for student, grade in student_grades.items():
    if grade > 80:
        print(f"{student}'s grade is above 80.")

anas's grade is above 80.
azam's grade is above 80.
eesa's grade is above 80.
kame's grade is above 80.

Create a dictionary named students where each key is a student's name and the value is another dictionary containing their 'age', 'grade', and 'city'. Write a loop to print each student's name and details.

In [4]:
student={ 
    'anas',{'age':23,'grade':90,'city':'naran'},
    'azam',{'age':25,'grade':87,'city':'abbottabad}',
    'kami',{'age':28,'grade':89,'city':'meyanwali'},
    'mosa',{'age':27,'grade':84,'city':'lahoor'}

SyntaxError: unmatched '}' (3390420267.py, line 6)

In [ ]:
,
}